#signup .container {
    background-color: #fff;
    padding: 0;
}

#signup form {
    margin: 0 auto;
    width: 55%;
    padding: 30px;
}

@media (max-width: 766px)
{
    #signup form{
        width: 100%;
    }

    #signup form h1{
        font-size: 30px;
    }
}