ul {
  padding:0;
  list-style:none;
  width: 30%;
  margin:auto;
}

li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

#main {
  overflow: auto;
  padding: 20px;
}

#main #main-container {
  background-color: #fff;
  float: right;
}

#main #main-container #individual-blog {
  margin: 0 auto;
  width: 75%;
}

#main #main-container #individual-blog p {
  text-align: justify;
  word-wrap: break-word;
}

#main #main-container #individual-blog #x
{
  float: right;
  position: relative;
  bottom: -25px;
}

#main #main-container #individual-blog h5 {
  padding: 15px 0;
}

#main #main-container #individual-blog h1 {
  padding-top: 30px;
}

#main #main-container p {
  padding-bottom: 20px;
}

#main label {
  margin-top: 20px;
  font-size: 20px;
}

#main input,
#main button,
#main textarea {
  margin-bottom: 20px;
}